.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
 }

:root{
    --black:#232528;
}

body{
    font-family: "font-family: 'Roboto Slab', serif" !important;
    /* background-color: var(--mainWhite) !important; */
    color: var(--black) !important;
}

.text-title {
    font-family: "font-family: 'Crimson Text', serif";
    letter-spacing: 0.3rem; 
}


